body{
    text-align: center;
    background-color: aquamarine;
    
}
h1{
    color:rgb(68, 0, 194)
   
}
ol{
    text-align: center;
   

}
.delBtn{
    background-color: red;
    border-radius: 5px;
    color:white;
    border:2px solid red;
 }
 .outer{
    margin:auto;
    border:2px solid green;
    min-height: 100vh;
    width:500px;
    border-radius: 20px;
    padding-top:20px;
    box-shadow: 2px 2px 8px green;
    background-color: aqua;
 }
li{
    margin-bottom: 10px;
 }
 li span{
    margin-right: 100px;
 }
 /* li .delBtn{
    margin-left: 20px;
 } */
